* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #93c5fd;

}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
}
.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;
margin-top: 4rem}
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.article{
    background-color: #bbaaf5;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.commentaire{
    padding-top: 4rem;
}
#comment-box {
    background-color: #003BDE;;
    position: relative;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

#comment-box::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: -25px;
    left: 90%;
    background-color: #003BDE;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    border-radius: 2px;
}
