{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <nav>
        <h1>logo</h1>
        <ul>
            <li><a href="{{ '/' }}">Article</a></li>
            <li><a href="{{ '/blog' }}">blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <ul class="content">
        {% for article in articles %}
            <p class="article"><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.nom }}</a></p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
