{% extends 'base.html.twig' %}

{% block body %}
<nav>
    <h1>logo</h1>
    <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="{{ '/blog' }}">blog</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>
<div class="example-wrapper">
    <ul class="content">
            <h2><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.nom }}</a></h2>
            <p>{{ article.detail }}</p>
            <p>{{ article.description }}lorem25</p>

    </ul>

    <div class="commentaire">
        {% for commentaire in commentaires %}
        <span>{{ commentaire.id }}</span> <br> <p id="comment-box">{{ commentaire.message }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
